In [107]:
#Importiere Libraries
import pandas as pd
import numpy as np
import matplotlib as plt
from datetime import datetime as dt
import os

#Initmessage
print ("starting Tensorflow") 

#lade von CSV
data_frame_investigated = pd.read_csv("Data/crypto-markets.csv", sep="," )


print("data collected")


print(data_frame_investigated.head())

starting Tensorflow
data collected
      slug symbol     name        date  ranknow    open    high     low  \
0  bitcoin    BTC  Bitcoin  2013-04-28        1  135.30  135.98  132.10
1  bitcoin    BTC  Bitcoin  2013-04-29        1  134.44  147.49  134.00
2  bitcoin    BTC  Bitcoin  2013-04-30        1  144.00  146.93  134.05
3  bitcoin    BTC  Bitcoin  2013-05-01        1  139.00  139.89  107.72
4  bitcoin    BTC  Bitcoin  2013-05-02        1  116.38  125.60   92.28

    close  volume        market  close_ratio  spread
0  134.21     0.0  1.500520e+09       0.5438    3.88
1  144.54     0.0  1.491160e+09       0.7813   13.49
2  139.00     0.0  1.597780e+09       0.3843   12.88
3  116.99     0.0  1.542820e+09       0.2882   32.17
4  105.21     0.0  1.292190e+09       0.3881   33.32

In [108]:

# Daten abgrenzen
def get_weekDay(currentDate):#Wochentag ermitteln 0 Montag - > 6 Sonntag
    currentDate = dt.strptime( currentDate, '%Y-%m-%d')
    return currentDate.weekday()
def get_monthDay(currentDate):
    currentDate = dt.strptime( currentDate, '%Y-%m-%d')
    return currentDate.day

#Wochentag in dataframe
data_frame_investigated['weekday'] = data_frame_investigated['date'].apply(get_weekDay)
#monatstag [0-31] in dataframe
data_frame_investigated['day'] = data_frame_investigated['date'].apply(get_monthDay)

#Liste der slugs machen
#make a  list of the different coins
different_coins = data_frame_investigated.slug.unique()
print(different_coins)


print(data_frame_investigated.head())

['bitcoin' 'ethereum' 'ripple' ... 'avoncoin' 'infchain' 'monero-gold']
      slug symbol     name        date  ranknow    open    high     low  \
0  bitcoin    BTC  Bitcoin  2013-04-28        1  135.30  135.98  132.10
1  bitcoin    BTC  Bitcoin  2013-04-29        1  134.44  147.49  134.00
2  bitcoin    BTC  Bitcoin  2013-04-30        1  144.00  146.93  134.05
3  bitcoin    BTC  Bitcoin  2013-05-01        1  139.00  139.89  107.72
4  bitcoin    BTC  Bitcoin  2013-05-02        1  116.38  125.60   92.28

    close  volume        market  close_ratio  spread  weekday  day
0  134.21     0.0  1.500520e+09       0.5438    3.88        6   28
1  144.54     0.0  1.491160e+09       0.7813   13.49        0   29
2  139.00     0.0  1.597780e+09       0.3843   12.88        1   30
3  116.99     0.0  1.542820e+09       0.2882   32.17        2    1
4  105.21     0.0  1.292190e+09       0.3881   33.32        3    2

In [109]:
#eliminiere redundante Attribute
REDUNDANT_ATTRIBUTES=['symbol','name'] 
data_frame_investigated.drop(REDUNDANT_ATTRIBUTES,axis=1,inplace=True) #loeschen
#


#Unstacken
#data_frame_investigated = data_frame_investigated.unstack(level=0) #nur den slug hochholen

In [110]:
print(data_frame_investigated.head(5))

      slug        date  ranknow    open    high     low   close  volume  \
0  bitcoin  2013-04-28        1  135.30  135.98  132.10  134.21     0.0
1  bitcoin  2013-04-29        1  134.44  147.49  134.00  144.54     0.0
2  bitcoin  2013-04-30        1  144.00  146.93  134.05  139.00     0.0
3  bitcoin  2013-05-01        1  139.00  139.89  107.72  116.99     0.0
4  bitcoin  2013-05-02        1  116.38  125.60   92.28  105.21     0.0

         market  close_ratio  spread  weekday  day
0  1.500520e+09       0.5438    3.88        6   28
1  1.491160e+09       0.7813   13.49        0   29
2  1.597780e+09       0.3843   12.88        1   30
3  1.542820e+09       0.2882   32.17        2    1
4  1.292190e+09       0.3881   33.32        3    2

In [111]:
TARGET_COIN = 'bitcoin' #welchen coin will ich predicten
TARGET_ATTRIBUTES = ['close'] #welche eigenschaft des Coins will ich predicten

df_to_tensorflow = data_frame_investigated
df_to_tensorflow.set_index(['slug','date'], inplace = True)
print(df_to_tensorflow.head(20))

df_to_tensorflow = df_to_tensorflow.unstack(level=0) #nur den slug hochholen

df_to_tensorflow.head(20)

                    ranknow    open    high     low   close  volume  \
slug    date
bitcoin 2013-04-28        1  135.30  135.98  132.10  134.21     0.0
        2013-04-29        1  134.44  147.49  134.00  144.54     0.0
        2013-04-30        1  144.00  146.93  134.05  139.00     0.0
        2013-05-01        1  139.00  139.89  107.72  116.99     0.0
        2013-05-02        1  116.38  125.60   92.28  105.21     0.0
        2013-05-03        1  106.25  108.13   79.10   97.75     0.0
        2013-05-04        1   98.10  115.00   92.50  112.50     0.0
        2013-05-05        1  112.90  118.80  107.14  115.91     0.0
        2013-05-06        1  115.98  124.66  106.64  112.30     0.0
        2013-05-07        1  112.25  113.44   97.70  111.50     0.0
        2013-05-08        1  109.60  115.78  109.60  113.57     0.0
        2013-05-09        1  113.20  113.46  109.26  112.67     0.0
        2013-05-10        1  112.80  122.00  111.55  117.20     0.0
        2013-05-11        1  117.70  118.68  113.01  115.24     0.0
        2013-05-12        1  115.64  117.45  113.44  115.00     0.0
        2013-05-13        1  114.82  118.70  114.50  117.98     0.0
        2013-05-14        1  117.98  119.80  110.25  111.50     0.0
        2013-05-15        1  111.40  115.81  103.50  114.22     0.0
        2013-05-16        1  114.22  118.76  112.20  118.76     0.0
        2013-05-17        1  118.21  125.30  116.57  123.02     0.0

                          market  close_ratio  spread  weekday  day
slug    date
bitcoin 2013-04-28  1.500520e+09       0.5438    3.88        6   28
        2013-04-29  1.491160e+09       0.7813   13.49        0   29
        2013-04-30  1.597780e+09       0.3843   12.88        1   30
        2013-05-01  1.542820e+09       0.2882   32.17        2    1
        2013-05-02  1.292190e+09       0.3881   33.32        3    2
        2013-05-03  1.180070e+09       0.6424   29.03        4    3
        2013-05-04  1.089890e+09       0.8889   22.50        5    4
        2013-05-05  1.254760e+09       0.7521   11.66        6    5
        2013-05-06  1.289470e+09       0.3141   18.02        0    6
        2013-05-07  1.248470e+09       0.8767   15.74        1    7
        2013-05-08  1.219450e+09       0.6424    6.18        2    8
        2013-05-09  1.259980e+09       0.8119    4.20        3    9
        2013-05-10  1.255970e+09       0.5407   10.45        4   10
        2013-05-11  1.311050e+09       0.3933    5.67        5   11
        2013-05-12  1.288630e+09       0.3890    4.01        6   12
        2013-05-13  1.279980e+09       0.8286    4.20        0   13
        2013-05-14  1.315720e+09       0.1309    9.55        1   14
        2013-05-15  1.242760e+09       0.8708   12.31        2   15
        2013-05-16  1.274620e+09       1.0000    6.56        3   16
        2013-05-17  1.319590e+09       0.7388    8.73        4   17

           ranknow                                                       \
slug            0x 1337coin 1world 2give 300-token 42-coin 808coin 8bit
date
2013-04-28     NaN      NaN    NaN   NaN       NaN     NaN     NaN  NaN
2013-04-29     NaN      NaN    NaN   NaN       NaN     NaN     NaN  NaN
2013-04-30     NaN      NaN    NaN   NaN       NaN     NaN     NaN  NaN
2013-05-01     NaN      NaN    NaN   NaN       NaN     NaN     NaN  NaN
2013-05-02     NaN      NaN    NaN   NaN       NaN     NaN     NaN  NaN
2013-05-03     NaN      NaN    NaN   NaN       NaN     NaN     NaN  NaN
2013-05-04     NaN      NaN    NaN   NaN       NaN     NaN     NaN  NaN
2013-05-05     NaN      NaN    NaN   NaN       NaN     NaN     NaN  NaN
2013-05-06     NaN      NaN    NaN   NaN       NaN     NaN     NaN  NaN
2013-05-07     NaN      NaN    NaN   NaN       NaN     NaN     NaN  NaN
2013-05-08     NaN      NaN    NaN   NaN       NaN     NaN     NaN  NaN
2013-05-09     NaN      NaN    NaN   NaN       NaN     NaN     NaN  NaN
2013-05-10     NaN      NaN    NaN   NaN       NaN     NaN     NaN  NaN
2013-05-11     NaN      NaN    NaN   NaN       NaN     NaN     NaN  NaN
2013-05-12     NaN      NaN    NaN   NaN       NaN     NaN     NaN  NaN
2013-05-13     NaN      NaN    NaN   NaN       NaN     NaN     NaN  NaN
2013-05-14     NaN      NaN    NaN   NaN       NaN     NaN     NaN  NaN
2013-05-15     NaN      NaN    NaN   NaN       NaN     NaN     NaN  NaN
2013-05-16     NaN      NaN    NaN   NaN       NaN     NaN     NaN  NaN
2013-05-17     NaN      NaN    NaN   NaN       NaN     NaN     NaN  NaN

                             ...          day                                \
slug       abjcoin abncoin   ...   zeusshield zilbercoin zilla zilliqa zoin
date                         ...
2013-04-28     NaN     NaN   ...          NaN        NaN   NaN     NaN  NaN
2013-04-29     NaN     NaN   ...          NaN        NaN   NaN     NaN  NaN
2013-04-30     NaN     NaN   ...          NaN        NaN   NaN     NaN  NaN
2013-05-01     NaN     NaN   ...          NaN        NaN   NaN     NaN  NaN
2013-05-02     NaN     NaN   ...          NaN        NaN   NaN     NaN  NaN
2013-05-03     NaN     NaN   ...          NaN        NaN   NaN     NaN  NaN
2013-05-04     NaN     NaN   ...          NaN        NaN   NaN     NaN  NaN
2013-05-05     NaN     NaN   ...          NaN        NaN   NaN     NaN  NaN
2013-05-06     NaN     NaN   ...          NaN        NaN   NaN     NaN  NaN
2013-05-07     NaN     NaN   ...          NaN        NaN   NaN     NaN  NaN
2013-05-08     NaN     NaN   ...          NaN        NaN   NaN     NaN  NaN
2013-05-09     NaN     NaN   ...          NaN        NaN   NaN     NaN  NaN
2013-05-10     NaN     NaN   ...          NaN        NaN   NaN     NaN  NaN
2013-05-11     NaN     NaN   ...          NaN        NaN   NaN     NaN  NaN
2013-05-12     NaN     NaN   ...          NaN        NaN   NaN     NaN  NaN
2013-05-13     NaN     NaN   ...          NaN        NaN   NaN     NaN  NaN
2013-05-14     NaN     NaN   ...          NaN        NaN   NaN     NaN  NaN
2013-05-15     NaN     NaN   ...          NaN        NaN   NaN     NaN  NaN
2013-05-16     NaN     NaN   ...          NaN        NaN   NaN     NaN  NaN
2013-05-17     NaN     NaN   ...          NaN        NaN   NaN     NaN  NaN


slug       zonecoin zozocoin zrcoin zsecoin zurcoin
date
2013-04-28      NaN      NaN    NaN     NaN     NaN
2013-04-29      NaN      NaN    NaN     NaN     NaN
2013-04-30      NaN      NaN    NaN     NaN     NaN
2013-05-01      NaN      NaN    NaN     NaN     NaN
2013-05-02      NaN      NaN    NaN     NaN     NaN
2013-05-03      NaN      NaN    NaN     NaN     NaN
2013-05-04      NaN      NaN    NaN     NaN     NaN
2013-05-05      NaN      NaN    NaN     NaN     NaN
2013-05-06      NaN      NaN    NaN     NaN     NaN
2013-05-07      NaN      NaN    NaN     NaN     NaN
2013-05-08      NaN      NaN    NaN     NaN     NaN
2013-05-09      NaN      NaN    NaN     NaN     NaN
2013-05-10      NaN      NaN    NaN     NaN     NaN
2013-05-11      NaN      NaN    NaN     NaN     NaN
2013-05-12      NaN      NaN    NaN     NaN     NaN
2013-05-13      NaN      NaN    NaN     NaN     NaN
2013-05-14      NaN      NaN    NaN     NaN     NaN
2013-05-15      NaN      NaN    NaN     NaN     NaN
2013-05-16      NaN      NaN    NaN     NaN     NaN
2013-05-17      NaN      NaN    NaN     NaN     NaN

[20 rows x 17446 columns]

In [112]:
df_to_tensorflow['close']['bitcoin']

date
2013-04-28      134.21
2013-04-29      144.54
2013-04-30      139.00
2013-05-01      116.99
2013-05-02      105.21
2013-05-03       97.75
2013-05-04      112.50
2013-05-05      115.91
2013-05-06      112.30
2013-05-07      111.50
2013-05-08      113.57
2013-05-09      112.67
2013-05-10      117.20
2013-05-11      115.24
2013-05-12      115.00
2013-05-13      117.98
2013-05-14      111.50
2013-05-15      114.22
2013-05-16      118.76
2013-05-17      123.02
2013-05-18      123.50
2013-05-19      121.99
2013-05-20      122.00
2013-05-21      122.88
2013-05-22      123.89
2013-05-23      126.70
2013-05-24      133.20
2013-05-25      131.98
2013-05-26      133.48
2013-05-27      129.75
                ...
2018-02-24     9813.07
2018-02-25     9664.73
2018-02-26    10366.70
2018-02-27    10725.60
2018-02-28    10397.90
2018-03-01    10951.00
2018-03-02    11086.40
2018-03-03    11489.70
2018-03-04    11512.60
2018-03-05    11573.30
2018-03-06    10779.90
2018-03-07     9965.57
2018-03-08     9395.01
2018-03-09     9337.55
2018-03-10     8866.00
2018-03-11     9578.63
2018-03-12     9205.12
2018-03-13     9194.85
2018-03-14     8269.81
2018-03-15     8300.86
2018-03-16     8338.35
2018-03-17     7916.88
2018-03-18     8223.68
2018-03-19     8630.65
2018-03-20     8913.47
2018-03-21     8929.28
2018-03-22     8728.47
2018-03-23     8879.62
2018-03-24     8668.12
2018-03-25     8495.78
Name: bitcoin, Length: 1793, dtype: float64